*{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #222;
}

@font-face {
    font-family: 'Analogue';
    font-family: 'Poppins';
    src: url('fonts/Analogue.ttf');
    src: url('fonts/Poppins-Bold.ttf');
}

html, body{
    margin: 0;
    height: 100vh;
    text-align: center;
}
.header{
    overflow-y: hidden;
    background-image: url(./img/hero.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding-top: 55vh;
}
.heading {
   
    color: #ffffff;
    display: block;
    font-family: "Analogue", Sans-serif;
    font-size: 42px;
    font-weight: 400;
    text-shadow: 0 0 10px #000;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 20px;
}
.heading-subtext{
    color: #fff;
    display: block;
    font-family: "Poppins", Sans-serif;
    font-size: .6em;
}

.heading-subtext-2{
    padding-bottom: 28px;
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    display: block;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    line-height: 18px;
}

.heading-curve{
   color: #ffffff;
   direction: ltr;
   font-family: "Poppins", sans-serif;
   font-size: 25px;
   font-weight: 400;
   height: auto;
   hyphens: manual;
   letter-spacing: 3px;
   line-height: 28.75px;
   text-size-adjust: 100%;
   white-space: nowrap;
   word-spacing: 0px;
}

.heading-subtext-3{
    color: #ffffff;
    display: block;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 14px;
    text-size-adjust: 100%;
    padding-bottom: 15px;
}

.heading-subtext-4{
    color: #ffffff;
    display: block;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 14px;
    text-size-adjust: 100%;
    padding-bottom: 15px;
    font-style: italic;
    padding-top: 155px;
}
.heading-subtext-5{
    color: #ffffff;
    display: block;
    font-family: "Poppins", Sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 14px;
    text-size-adjust: 100%;
    padding-bottom: 15px;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
   
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.times {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.times li {
        padding: 16px 16px;
        display: flex;
        flex-direction: column;
        color: white;
}

.times li span {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.btn-header {
    border-radius: 0%;
    box-sizing: border-box;
    display: inline-block;
    height: 39px;
    width: 170.156px;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    text-size-adjust: 100%;
    color:rgb(255, 255, 255);
    box-shadow: none;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: transform;
    text-decoration: none;
    margin-top:15px;
    animation-name: btn-anim;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes btn-anim {
  from {margin-top: 50px;}
  to {margin-top: 15px;}  
}

.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}
.section{
    margin: 0 auto;
    height: 100%; 
    width: 100%;    
}

/* ANIMASI */
#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

.slideshow { 
  
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
    background-image: url(./img/slide1.jpg);
    animation-delay: 1s;
}
.slideshow li:nth-child(2) { 
    background-image: url(./img/slide2.jpg);
    animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
    background-image: url(./img/slide3.jpg);
    animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
    background-image: url(./img/slide4.jpg);
    animation-delay: 30s; 
}


@keyframes imageAnimation { 
    0% { 
        opacity: 0; 
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}

/* ==== */

.img-tree {
    box-sizing: border-box;
    display: inline-block;
    height: 289.281px;
    max-width: 100%;
    overflow-y: clip;
    overflow-x: clip;
    width: 375px;
    box-shadow: none;
    color: rgb(51, 51, 51);
    aspect-ratio: auto 700 / 540;
    opacity: 0.1;
    overflow-clip-margin: content-box;
    hyphens: manual;
    -webkit-font-smoothing:antialiased;
}

.inisial_nama h2 {
    font-size: 64px;
}

.inisial_nama {
    margin-top: -200px;
}
  

.title {
  z-index: 11;
  position: absolute;
  width: 100%;
  text-align: center;
}


.sub-heading{
    font-family: 'Caveat', cursive;
    font-size: 3em;
    margin-top: 2em;
}
.details{
    margin: 0 auto 8em;
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;
}
.fas {
    font-size: 3em;
    opacity: .8;
}
.resort-image{
    width: 100%
}

.pengantin_pria {
     margin-top: 120px;
     height: 340px; 
     background-color: rgba(51, 51, 51, 0.1);
}

.pengantin_wanita {
    margin-left: -27px;
    width: 295px;
    margin-top: 750px;
    height: 340px; 
    background-color: rgba(51, 51, 51, 0.1);
}

.nama_pengantin_pria h2 {
    transform-origin: 0 0;
    transform: rotate(272deg);
    text-orientation: mixed;
    margin-top: 650px;
    color: #ffffff;
    height: 100%;
    width: 200%;
    font-weight: bold;
    margin-left: 10px;
    font-size: 50px;
    font-family: "Analogue", Sans-serif;
}

.nama_pengantin_wanita {
    height: 130%;
    background-image: linear-gradient(to bottom, #ffffff, #eaeaea, #d5d5d5, #c0c0c0, #acacac);background-image: linear-gradient(to bottom, #ffffff, #faf8fa, #f7f0f4, #f4e8ec, #f2e1e1);background-image: linear-gradient(to bottom, #ffffff, #fafafa, #f6f5f5, #f2eff0, #eeeaea);
}

.nama_pengantin_wanita h2 {
    transform-origin: 0 0;
    transform: rotate(90deg);
    text-orientation: mixed;
    margin-top: -320px;
    color: #ffffff;
   
    width: 200%;
    font-weight: bold;
    margin-left: 266px;
    font-size: 50px;
    font-family: "Analogue", Sans-serif;
}

.bio_pria {
   width: 200%;
}

.bio_pria h3 {
    text-align: right;
    padding-right: 40px;
    color: rgb(94, 94, 94);
    font-family: "Analogue", Sans-serif;
    line-height: 32px;
    margin-top: -40px;
}

.bio_wanita h3 {
    text-align: left;
    padding-right: 40px;
    color: rgb(94, 94, 94);
    font-family: "Analogue", Sans-serif;
    line-height: 32px;
    margin-top: 530px;
    padding-left: 40px;
}

.bio_wanita .spn1 {
    padding-left: 40px;
    font-size: 12px; 
    color: rgb(94, 94, 94);
    font-weight: bold;
}

.bio_wanita .spn2 {
    padding-left: 40px;
    font-size: 12px; 
    color: rgb(94, 94, 94);
    font-weight: bold;
}

.ig_wanita {
    padding-left: 40px;
    
}

.ig_wanita a{
    height: 30px;
    width: 120px; 
    border-color: #5e5e5e;
    margin-top:30px; 
    background-color: #5e5e5e; 
    font-size: 12px; 
    font-weight: 500;
}

.bio_pria .spn1 {
    position: absolute;
    margin-left:58px; 
    font-size: 12px; 
    color: rgb(94, 94, 94);
    font-weight: bold;
}

.bio_pria .spn2 {
    position: absolute;
    margin-left:-79px; 
    font-size: 12px; 
    color: rgb(94, 94, 94);
    font-weight: bold;
}

.pengantin_pria img {
   
    margin-left: 30px; 
    margin-top: -40px;
    box-shadow: 10px 10px rgba(51, 51, 51, 0.1);
    -moz-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0.1);
    -webkit-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0.1);
    -khtml-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0.1);
}

.pengantin_wanita img {
   
    margin-bottom: 20px; 
    margin-top: -40px;
   
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 42px;
    }
  }