* {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #222;
}

@font-face {
  font-family: "Creattion";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("fonts/Creattion.woff2") format("woff2");
}

@font-face {
  font-family: "Analogue";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("fonts/Analogue.woff2") format("woff2");
}

@font-face {
  font-family: "Power";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("fonts/power.woff2") format("woff2");
}

.slide-top {
	-webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

html,
body {
  margin: 0;
  height: 100vh;
  text-align: center;
}

.header {
  overflow-y: hidden;
  background-image: url(./img/hero.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-attachment: scroll;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding-top: 55vh;
}

.heading {
  font-style: normal;
  font-family: "Analogue", sans-serif;
  color: #ffffff;
  display: block;
  font-weight: normal;
  text-shadow: 0 0 10px #000;
  text-size-adjust: 100%;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 20px;
  font-size: 42px;
}
.heading-subtext {
  color: #fff;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 0.6em;
}

.heading-subtext-2 {
  padding-bottom: 28px;
  color: #ffffff;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.heading-curve {
  color: #ffffff;
  direction: ltr;
  font-family: "Poppins", sans-serif;
  height: auto;
  hyphens: manual;
  letter-spacing: 3px;
  line-height: 28.75px;
  text-size-adjust: 100%;
  white-space: nowrap;
  word-spacing: 0px;
}

.heading-subtext-3 {
  color: #ffffff;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 14px;
  text-size-adjust: 100%;
  padding-bottom: 15px;
}

.heading-subtext-4 {
  color: #ffffff;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 14px;
  text-size-adjust: 100%;
  padding-bottom: 15px;
  font-style: italic;
  padding-top: 155px;
}
.heading-subtext-5 {
  color: #ffffff;
  display: block;

  font-weight: bold;
  font-size: 11px;
  letter-spacing: 2px;
  line-height: 14px;
  text-size-adjust: 100%;
  padding-bottom: 15px;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.times {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.times li {
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  color: white;
}

.times li span {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.header > .btn-header {
  border-radius: 0%;
  box-sizing: border-box;
  display: inline-block;
  height: 32px;
  width: 170.156px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-size-adjust: 100%;
  color: rgb(255, 255, 255);
  box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 15px;

}

.fixed-button {
  z-index: 1;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  text-decoration: none;
  transition: ease all 0.3s;
  position: fixed;
  right: 10px;
  bottom: 30px;
}

.section {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.section-landing {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: none;
}

.bg_list_pengantin {
  background-image: linear-gradient(
    to bottom,
    #dbe1e1,
    #e2e6e8,
    #e9ecee,
    #f0f1f3,
    #f7f7f8,
    #f7f7f8,
    #f7f7f8,
    #f7f7f8,
    #f0f1f3,
    #e9ecee,
    #e2e6e8,
    #dbe1e1
  );
  height: 1700px;
  display: none;
}

/* ANIMASI BG CARD */
.slideshow_card {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow_card li {
  width: 100%;
  height: 270%;
  position: absolute;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: 0;
  animation: imageAnimationCard 50s linear infinite;
}

.slideshow_card li:nth-child(1) {
  background-image: url(./img/hero.jpeg);
  animation-delay: 1s;
}
.slideshow_card li:nth-child(2) {
  background-image: url(./img/slide2.jpg);
  animation-delay: 10s;
}
@keyframes imageAnimationCard {

  10% {
    opacity: 0.1;
    animation-timing-function: ease;
  }
  20% {
    opacity: 0.1;
  }
  30% {
    opacity: 0;
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow_card li {
  opacity: 1;
}
/* ANIMASI */
#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

.slideshow {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 108%;
  position: absolute;
  top: 107.2%;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(./img/slide1.jpg);
  animation-delay: 1s;
}
.slideshow li:nth-child(2) {
  background-image: url(./img/slide2.jpg);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(./img/slide3.jpg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(./img/slide4.jpg);
  animation-delay: 30s;
}

@keyframes imageAnimation {

  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
  opacity: 1;
}

/* ==== */

.img-tree {
  box-sizing: border-box;
  display: inline-block;
  height: 289.281px;
  max-width: 100%;
  overflow-y: clip;
  overflow-x: clip;
  width: 375px;
  box-shadow: none;
  color: rgb(51, 51, 51);
  aspect-ratio: auto 700 / 540;
  opacity: 0.1;
  overflow-clip-margin: content-box;
  hyphens: manual;
  -webkit-font-smoothing: antialiased;
}

.img-tree2 {
  box-sizing: border-box;
  display: inline-block;
  height: 289.281px;
  max-width: 100%;
  overflow-y: clip;
  overflow-x: clip;
  width: 375px;
  box-shadow: none;
  color: rgb(51, 51, 51);
  aspect-ratio: auto 700 / 540;
  opacity: 0.1;
  overflow-clip-margin: content-box;
  hyphens: manual;
  -webkit-font-smoothing: antialiased;
  margin-top: -70px;
}

.kehadiran {
  margin: auto;
}

.kehadiran > .container > .row > .formKehadiran > form {
  margin-top: -230px;
}

.kehadiran > .container > .row > .formKehadiran > form > .inpText {
  border: 0px;
  border-radius: 0px;
  height: 3em !important;
  border-bottom: 1px solid #d5deea !important;
  background: #fbfbfb !important;
  width: 85%;
}

.kehadiran > .container > .row > .formKehadiran > form > .inpText2 {
  border: 0px;
  border-radius: 0px;
  height: 3em !important;
  border-bottom: 1px solid #d5deea !important;
  background: #fbfbfb !important;
  width: 100%;
  margin-top: 10px;
  width: 85%;
}

.kehadiran > .container > .row > .formKehadiran > form > .pilihKehadiran {
  border: 0px;
  border-radius: 0px;
  height: 3em !important;
  border-bottom: 1px solid #d5deea !important;
  background: #fbfbfb !important;
  width: 100%;
  margin-top: 10px;
  width: 85%;

  font-weight: bold;
  opacity: 0.5;
  color: rgb(51, 51, 51);
  font-size: 13px;
  font-weight: bold;
}

.kehadiran > .container > .row > .formKehadiran > form > .inpText3 {
  border: 0px;
  border-radius: 0px;
  height: 4em !important;
  border-bottom: 1px solid #d5deea !important;
  background: #fbfbfb !important;
  width: 100%;
  margin-top: 10px;
  width: 85%;
}

.protokolKesehatan {
  margin-top: 150px;
}

.protokolKesehatan > .container > .row > .protokol > span {
  color: #5e5e5e;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: nromal;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 1.5px;
}

.protokolKesehatan > .container > .row > .protokol {
  margin-bottom: 35px;
}

.protokolKesehatan > .container > .row > .himbauan > span {
  color: #5e5e5e;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5em;
}

.protokolKesehatan > .container > .row > .himbauan {
  margin-bottom: 35px;
}

.protokolKesehatan > .container > .row > .icon1 > .row > .sanitizer-icon {
  width: 50px;
  background-color: #ededed;
  /* background-size: 100px 100px; */
  margin: auto;
}

.protokolKesehatan > .container > .row > .icon1 > .row > .sanitizer-icon > img {
  height: 35px;
  width: 22.6px;
}

.protokolKesehatan > .container > .row > .icon1 > .row > .keticon1 {
  width: 1000px;
}

.protokolKesehatan > .container > .row > .icon1 > .row > .keticon1 > span {
  color: #5e5e5e;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.5em;
}

.protokolKesehatan > .container > .row > .icon2 > .row > .mask-icon {
  width: 50px;
  background-color: #ededed;
  /* background-size: 100px 100px; */
  margin: auto;
}

.protokolKesehatan > .container > .row > .icon2 > .row > .mask-icon > img {
  height: 35px;
  width: 22.6px;
}

.protokolKesehatan > .container > .row > .icon2 > .row > .keticon2 {
  width: 1000px;
}

.protokolKesehatan > .container > .row > .icon2 > .row > .keticon2 > span {
  color: #5e5e5e;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.5em;
}

.protokolKesehatan > .container > .row > .icon3 > .row > .people-icon {
  width: 50px;
  background-color: #ededed;
  /* background-size: 100px 100px; */
  margin: auto;
}

.protokolKesehatan > .container > .row > .icon3 > .row > .people-icon > img {
  height: 35px;
  width: 22.6px;
}

.protokolKesehatan > .container > .row > .icon3 > .row > .keticon3 {
  width: 1000px;
}

.protokolKesehatan > .container > .row > .icon3 > .row > .keticon3 > span {
  color: #5e5e5e;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.5em;
}

.kehadiran > .container > .row > .formKehadiran > form > .jumlahTamu {
  border: 1px solid rgb(226, 221, 221);
  margin: 30px auto;
  width: 85%;
}

.kehadiran
  > .container
  > .row
  > .formKehadiran
  > form
  > .jumlahTamu
  > .jmltamu {
  font-weight: bolder;
  opacity: 0.5;
  color: black;
  font-size: 14px;
}

.kehadiran > .container > .row > .formKehadiran > form > .jumlahTamu {
  display: none;
}

.kehadiran > .container > .row > .formKehadiran > form > input::placeholder,
textarea::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: rgb(51, 51, 51);
  font-size: 13px;
}

.kehadiran > .container > .row > .formKehadiran > form > .karakter {
  float: right;
  color: rgb(51, 51, 51);
  margin-right: 12px;
}

.inisial_nama h2 {
  font-size: 64px;
  font-family: "Power", sans-serif;
}

.inisial_nama {
  margin-top: -200px;
}

.nama_surah > span {
  color: #5e5e5e;
  font-family: "Analogue", sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 2px;
}

.nama_surah {
  padding-bottom: 20px;
}

.arti_surah > p {
  padding-left: 13px;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  padding-right: 13px;
  font-family: "Poppins", sans-serif;
  color: #5e5e5e;
  line-height: 1.8em;
  animation-duration: 2s;
}

.title {
  z-index: 11;
  position: absolute;
  width: 100%;
  text-align: center;
}

.sub-heading {
  font-family: "Caveat", cursive;
  font-size: 3em;
  margin-top: 2em;
}
.details {
  margin: 0 auto 8em;
}
.details-heading {
  font-weight: bold;
  text-transform: uppercase;
}
.fas {
  font-size: 3em;
  opacity: 0.8;
}
.resort-image {
  width: 100%;
}

.pengantin_pria {
  margin-top: 120px;
  height: 340px;
  background-color: rgba(51, 51, 51, 0.1);
}

.pengantin_wanita {
  width: 275px;

  margin-top: 750px;
  height: 340px;
  background-color: rgba(51, 51, 51, 0.1);
}

.pengantin_wanita img {
  float: left;
}

.pengantin_pria h2 {
  transform-origin: 0 0;
  transform: rotate(270deg);
  text-orientation: mixed;
  font-weight: bold;
  font-size: 50px;
  color: white;
  margin-top: -10px;
  font-family: "Analogue", sans-serif;
  letter-spacing: 2px;
}

.nama_pengantin_wanita {
  height: 130%;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #eaeaea,
    #d5d5d5,
    #c0c0c0,
    #acacac
  );
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #faf8fa,
    #f7f0f4,
    #f4e8ec,
    #f2e1e1
  );
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #fafafa,
    #f6f5f5,
    #f2eff0,
    #eeeaea
  );
}

.pengantin_wanita h2 {
  transform-origin: 0 0;
  transform: rotate(90deg);
  text-orientation: mixed;
  margin-left: 273px;
  color: white;
  width: 90%;
  font-weight: bold;
  font-size: 50px;
  font-family: "Analogue", sans-serif;
  letter-spacing: 2px;
}

.bio_pria {
  width: 200%;
}

.pengantin_pria h3 {
  color: rgb(94, 94, 94);
  font-family: "Analogue", sans-serif;
  line-height: 32px;
  padding-right: 12px;
  font-size: 25px;
  animation-duration: 1s;
}






.pengantin_wanita h3 {
  padding-top: 280px;
  color: rgb(94, 94, 94);
  line-height: 32px;
  margin-left: -64px;
  font-family: "Analogue", sans-serif;
  font-size: 25px;
  animation-duration: 1s;
}

.pengantin_wanita .spn1 {
  margin-top: 90px;
  margin-left: -137px;
  font-size: 12px;
  color: rgb(94, 94, 94);
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

.pengantin_wanita .spn2 {
  font-size: 12px;
  color: rgb(94, 94, 94);
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

.ig_wanita {
  padding-right: 55px;
  margin-top: -20px;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.ig_pria {
  padding-top: 5px;
  padding-left: 100px;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.pengantin_pria a {
  height: 30px;
  width: 120px;
  border-color: #5e5e5e;
  background-color: #5e5e5e;
  font-size: 12px;
  font-weight: 500;
}

.ig_wanita a {
  height: 30px;
  width: 120px;
  border-color: #5e5e5e;
  margin-top: 30px;
  background-color: #5e5e5e;
  font-size: 12px;
  font-weight: 500;
  margin-left: -55px;
}

.pengantin_pria .spn1 {
  padding-left: 125px;
  font-size: 12px;
  color: rgb(94, 94, 94);
  font-style: normal;
  font-family: "Poppins", sans-serif;
}

.pengantin_pria .spn2 {
  font-size: 12px;
  color: rgb(94, 94, 94);
  font-weight: normal;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  padding-right: 18px;
}

.pengantin_pria img {
  margin-left: 30px;
  margin-top: -40px;
  box-shadow: 10px 10px rgba(51, 51, 51, 0.1);
  -moz-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0.1);
  -webkit-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0.1);
  -khtml-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0.1);
}

.pengantin_wanita img {
  margin-bottom: 20px;
  margin-top: -40px;
  box-shadow: 10px 10px rgba(51, 51, 51, 0.1);
  -moz-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0.1);
  -webkit-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0.1);
  -khtml-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0.1);
}

.bg-card {
  height: 10px;
  display: none;
}

.wedding_event {
  padding: 80px 32px 128px;
}

.gallery {
  padding: 80px 32px 128px;
}

.akad_nikah {
  padding: 80px 32px 128px;
}

.resepsi_nikah {
  padding: 80px 32px 128px;
  margin-top: -150px;
}

.car {
  border-top-right-radius: 70%;
}
.wedding {
  padding-right: 200px;
  color: #5e5e5e;
  font-family: "Power", Sans-serif;
  font-size: 40px;
  font-weight: normal;
  font-style: italic;
}

.galerry1 {
  float: right;
  color: #5e5e5e;
  font-family: "Power", Sans-serif;
  font-size: 40px;
  font-weight: normal;
  font-style: italic;
}

.gallery2 {
  font-family: "Creattion", sans-serif;
  font-size: 50px;
  float: right;
  font-style: italic;
  font-weight: normal;
  line-height: 0;
}

.event {
  font-family: "Creattion", sans-serif;
  font-size: 50px;
  float: left;
  font-style: italic;
  font-weight: normal;
  line-height: 0;
  margin-top: 10px;
}

.paralaximage {
  background-image: url(./img/foto11.jpg);
  filter: grayscale(80%);
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-attachment: scroll;
  background-size: 100% 160px;
  margin: 0;
  padding: 157px;
  background-position: 0 90px;
}

.paralaximage > .rsvp {
  color: #ffffff;
  display: block;
  font-family: "Power", sans-serif;
  font-size: 40px;
  font-weight: normal;
  text-shadow: 0 0 10px #000;
  text-size-adjust: 100%;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  float: left;
  margin-left: -40px;
  margin-top: -20px;
  font-style: italic;
}

.paralaximage > .wishes {
  color: #ffffff;
  display: block;
  font-family: "Creattion", sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-shadow: 0 0 10px #000;
  text-size-adjust: 100%;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  float: left;
  margin-left: 10px;
  margin-top: -20px;
  font-style: italic;
}

.resepsi_nikah > .card > .card-body .col-resepsi {
  margin-top: -1px;
}

.col-resepsi h1 {
  color: white;
  transform-origin: 0 0;
  transform: rotate(90deg);
  text-orientation: mixed;
  font-weight: normal;
  width: 200px;
  margin-top: 100px;
  padding-top: 0px;
  margin-left: 42px;
  font-family: "Power", sans-serif;
  letter-spacing: 2px;
}

.col-akad h1 {
  color: white;
  transform-origin: 0 0;
  transform: rotate(270deg);
  text-orientation: mixed;
  font-weight: normal;
  width: 200px;
  margin-top: 300px;
  padding-top: 0px;
  font-family: "Power", sans-serif;
  letter-spacing: 2px;
}

.col-tgl-akad {
  padding: 32px 16px 16px 24px;
}

.col-tgl-akad h1 {
  font-size: 70px;
  font-weight: 400;
  color: rgb(94, 94, 94);
  font-family: "Analogue", sans-serif;
}

.col-tgl-akad span {
  font-size: 15px;
  font-weight: 400;
  color: rgb(94, 94, 94);
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  float: left;
}

.col-tgl-resepsi {
  padding: 32px 16px 16px 24px;
}

.col-tgl-resepsi h1 {
  font-size: 70px;
  font-weight: 400;
  color: rgb(94, 94, 94);
  font-family: "Analogue", sans-serif;
}

.col-tgl-resepsi span {
  font-size: 15px;
  font-weight: 400;
  color: rgb(94, 94, 94);
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  float: left;
}

.col-bulan-akad {
  padding: 32px 16px 16px 24px;
}

.col-bulan-resepsi {
  padding: 32px 16px 16px 24px;
}

.divider_wedding {
  margin-top: -170px;
  margin-bottom: 1rem;
  border: 4;
  margin-left: 260px;
  border-top: 2px solid gray;
}

.divider_gallery {
  margin-top: -45px;
  margin-bottom: 1rem;
  margin-right: 170px;
  border-top: 2px solid;
  margin-left: -32px;
  border-color: #5e5e5e;
}

.foto1 > img {
  width: 153px;
  height: 242px;
}


.foto2 > img {
  width: 153px;
  height: 242px;
}

.foto3 > img {
  width: 153px;
  height: 242px;
}

.foto4 > img {
  width: 153px;
  height: 242px;
}

.foto5 > img {
  width: 101px;
  height: 150px;
}

.foto6 > img {
  width: 205px;
  height: 150px;
}

.foto7 > img {
  width: 310px;
  height: 217px;
}

@-webkit-keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  } 

.wedding_gift > .container > .row > .wdgift h1 {
  color: #5e5e5e;
  font-family: "Power", Sans-serif;
  font-size: 40px;
  font-weight: normal;
  font-style: italic;
  animation-timing-function: linear;
}

.wedding_gift > .container > .row > .notedgift p {
  color: #5e5e5e;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5em;
  padding: 10px 1px 96px;
}

.wedding_gift > .container > .row > .btngift {
  margin-top: -70px;
}

.kehadiran
  > .container
  > .row
  > .formKehadiran
  > form
  > .container
  > .row
  > .boxPesan {
  padding-top: 20px;
  margin: auto;
}

.kehadiran
  > .container
  > .row
  > .formKehadiran
  > form
  > .container
  > .row
  > .boxPesan
  #kirimPesan {
  font-size: 14px !important;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  background: #5e5e5e;
  border-radius: 0px;
  border: none;
}

.wedding_gift > .container > .panelGift1 {
  width: 75%;
  margin: auto;
  display: none;
}

.wedding_gift > .container > .panelGift1 > .col-panel1 > .card {
  border: none;
  background-image: linear-gradient(
    to left bottom,
    #cccfc6,
    #d8dbd3,
    #e5e7e1,
    #f1f3ee,
    #fefffc
  );
}

.wedding_gift > .container > .panelGift2 {
  width: 75%;
  margin: 10px auto;
  display: none;
}

.wedding_gift > .container > .panelGift2 > .col-panel1 > .card {
  border: none;
  background-image: linear-gradient(
    to left bottom,
    #cccfc6,
    #d8dbd3,
    #e5e7e1,
    #f1f3ee,
    #fefffc
  );
}

.sayThanks {
  overflow-y: hidden;
  background-image: linear-gradient(
      to right,
      rgb(100 98 98 / 66%) 30%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(./img/foto3.jpg);
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-attachment: scroll;
  background-size: cover;
  height: 100%;
  margin-top: 90px;
  padding-top: 600px;
}

.sayThanks h1 {
  margin-top: -120%;
  color: #ffffff;
  font-family: "Creattion", sans-serif;
  font-size: 60px;
  font-weight: normal;
  font-style: italic;
  animation-timing-function: linear;
}

.sayThanks p {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 2em;
  padding: 0px 20px;
}

.sayThanks .text1 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  margin-top: 50px;
}

.sayThanks .text2 {
  color: #ffffff;
  font-family: "Analogue", sans-serif;
  font-size: 26px;
  font-weight: normal;
  font-style: italic;
}

.namabank1 {
  color: #5e5e5e;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 2.5px;
  margin-top: 10px;
}

#paste1,
#paste2 {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.5px;
  background-color: #5e5e5e;
  border-radius: 0px 0px 0px 0px;
  padding: 8px 10px 8px 10px;
  margin-top: 10px;
}

.an1 {
  color: #5e5e5e;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: 1px;
  margin-top: 10px;
}

.norek1,
.norek2 {
  color: #5e5e5e;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

.wedding_gift > .container > .row > .btngift a {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #5e5e5e;
  border-radius: 0px 0px 0px 0px;
  padding: 8px 20px 8px 20px;
}

.divider-tgl-akad {
  border: 4;
  border-color: black;
  margin-left: 30px;
  margin-top: -10px;
}

.divider-tgl-resepsi {
  border: 4;
  border-color: black;
  margin-left: 30px;
  margin-top: -10px;
}

.akad_nikah .card {
  border-top-right-radius: 50%;
}

.resepsi_nikah .card {
  border-top-left-radius: 50%;
}

.akad_nikah .card .slider img {
  border-top-right-radius: 50%;
  height: 250px;
}

.resepsi_nikah .card .slider img {
  border-top-left-radius: 50%;
  height: 250px;
}

.col-jam-akad span {
  float: left;
  font-size: 12px;
  letter-spacing: 1.5px;
  line-height: 18px;
  color: rgb(94, 94, 94);
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

.col-jam-akad > span > i {
  display: inline-block;
  margin-bottom: -3px;
  margin-left: 20px;
  margin-right: 20px;
}

.col-jam-resepsi span {
  float: left;
  font-size: 12px;
  letter-spacing: 1.5px;
  line-height: 18px;
  color: rgb(94, 94, 94);
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}
.col-jam-resepsi > span > i {
  display: inline-block;
  margin-bottom: -3px;
  margin-left: 20px;
  margin-right: 20px;
}

.akad_nikah > .card {
  width: 29rem;
}

.akad_nikah > .card > .card-body > .container > .row {
  margin-top: -10px;
  margin-left: -25px;
  width: 290px;
  height: 430px;
}

.akad_nikah > .card > .card-body > .container {
  height: 410px;
}

.resepsi_nikah > .card {
  width: 30.2rem;
}

.resepsi_nikah > .card > .card-body {
  padding: 0px;
}

.resepsi_nikah > .card > .card-body > .container > .row {
  margin-top: 1px;
  margin-left: -28x;
  width: 300px;
}

.col-jam-resepsi > span > i {
  display: inline-block;
  margin-bottom: -3px;
  margin-left: 20px;
  margin-right: 20px;
}

.col-lokasi-acara span {
  float: left;
  margin-left: 20px;
  color: rgb(51, 51, 51);
  font-size: 16px;
  font-weight: bold;
  padding-top: 30px;
}

.col-alamat-akad .alamat1 {
  float: left;
  padding-top: 15px;
  margin-left: 19px;
  text-align: justify;
  font-size: 12px;
  font-weight: bold;
  color: rgb(94, 94, 94);
  line-height: 18px;
}

.col-alamat-akad .alamat2 {
  float: left;
  padding-top: 5px;
  margin-left: 20px;
  text-align: justify;
  font-size: 12px;
  font-weight: 400;
  color: rgb(94, 94, 94);
  line-height: 18px;
}

.col-link-maps-akad a {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  fill: #5e5e5e;
  color: #5e5e5e;
  background-color: #5e5e5e00;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #5e5e5e;
  border-radius: 0px 0px 0px 0px;
  padding: 8px 15px 8px 15px;
  float: left;
  margin-left: 20px;
  margin-top: -12px;
}

.col-link-maps-resepsi a {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  fill: #5e5e5e;
  color: #5e5e5e;
  background-color: #5e5e5e00;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #5e5e5e;
  border-radius: 0px 0px 0px 0px;
  padding: 8px 15px 8px 15px;
  float: left;
  margin-left: 20px;
  margin-top: -9px;
}

.footer {
  background-color: #f9eded;
  height: 280px;
}

.footer > .boxlinksitus {
  padding-top: 100px;
}

.footer > .boxlinksitus > .sosmedsitus {
  color: #5e5e5e;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 0.6em;
  font-weight: normal;
  line-height: 2em;
  letter-spacing: 2px;
  padding-top: 10px;
}

.footer > .boxlinksitus > .hubungikami {
  color: #5e5e5e;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 2em;
  letter-spacing: 2px;
  padding-top: 20px;
}

.footer > .boxlinksitus > .linksitus {
  color: #5e5e5e;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 2px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
